.charts-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.first-row-section {
  height: auto; 
  width: auto;
}

.second-row-section,
.third-row-section {
  height: 32vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;

  justify-content: center;
  align-items: center;
}
.section .third-row-section {
  margin-left: 10px;
}

#current-date-charts {
  margin-top: 28px;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 333px;
}
